<nav style="background-color: #2B547E  !important">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center"> <i class="fa fa-skyatlas"></i> IdeaShare</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard"><i class="fas fa-book-reader"></i>Dashboard</a></li>
            <li><a href="/stories/add"><i class="fas fa-plus-square"></i>Add New </a></li>
            <li><a href="/stories"><i class="fas fa-globe-americas"></i>Explore </a></li>
            <li><a href="/auth/logout"><i class="fas fa-power-off"></i>Logout</a></li>
        </ul>
    </div>
</nav>