<h3><i class="fa fa-skyatlas"></i> IdeaShare</h3>
<div class="section">
    <p class="lead">Join now to share your Ideas</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Continue With Google
    </a>
</div>