p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.searchBox{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.searchText{
  width :25rem;
  padding: 2rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  transition: all 0.2 linear;
}

.searchText:focus{
  outline: none;
}

.searchbtn{
  width: 5rem;
  height: 5rem;
  color: aliceblue; 
  position: absolute;
  right: 1rem;
  display: grid;
  place-items: center;
}

.searchBox:hover > .searchText{
  width: 25rem;
  padding: 2rem
}
